@model ContestantApplications.ViewModel.RatingViewModel

@{
    ViewBag.Title = "Index";
}
<h4>Contestant Ratings</h4>


<br />
<div>
    @using (Html.BeginForm("Index"))
    {<div class="col-lg-12">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3">From Date</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3">To Date</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-md-2">

                <input type="submit" value="Search" class="btn btn-success btn-sm" />
            </div>
        </div>
    }
</div>
<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contestant.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contestant.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contestant.DistrictId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>


    </tr>

    @foreach (var item in Model.RatingList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contestant.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestant.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestant.Districts.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
                <a onclick="getContestantById(@item.Contestant.Id)" class="btn btn-primary btn-sm" style="cursor:pointer">Rate this Contestant</a>

            </td>


        </tr>
    }

</table>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Constestant Ratings</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="pwd">Constestant Name:</label>
                    <lab id="lblName" style="font-weight:100"></>

                </div>
                <div class="form-group">
                    <input type="hidden" name="hdnId" value="" id="hdnId" />
                    <label>Rating:</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="1"> 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="2"> 2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="3"> 3
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="4"> 4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="5"> 5
                    </label>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveRatings" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        getContestantById = function (id) {
            $.ajax({

                type: "GET",
                url: "/Rating/GetContestantById",
                datatype: "Json",
                data: { id: id },
                success: function (response) {
                    // alert('success');alert
                    $('#myModal').modal('show');
                    $("#hdnId").val(id);
                    $("#lblName").html(response.FullName)
                }

            })
        }

        function getCheckedRadio() {
            var radioButtons = document.getElementsByName("optradio");
            for (var x = 0; x < radioButtons.length; x++) {
                if (radioButtons[x].checked) {
                    return radioButtons[x].value;
                }
            }
        }

        $("#btnSaveRatings").click(function () {

            var val = getCheckedRadio();
            if (val == null) {
                alert('Please Rate');
            } else {

                var cId = $("#hdnId").val();
                $.ajax({

                    type: "POST",
                    url: "/Rating/SaveRatings",
                    datatype: "Json",
                    data: { rate_val: val, Id: cId },
                    success: function (response) {
                        if (response == 'success') {
                            $("#lblName").html('');
                            $("#hdnId").val('');
                            $('#myModal').modal('hide');
                            location.reload();
                        }
                        else {
                            alert('Error Occurred while saving');
                            $('#myModal').modal('show');
                        }


                    }

                })
            }
        })

    });

</script>
